/* Max content widths */

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto
}

/* Navbar */

.navbar-topbar {
  border-radius: 0;
}

.navbar .dropdown-menu li {
  width: 100%;
  margin-left: 0 !important;
}



/*
Header logo
If you require a Site title and a logo, an example of how to do this is provided below (use your own logo):

#site-title a {
  display: inline-block;
	padding-left 60px;
  background: url('../../img/logo.png') 0 0 no-repeat;
}
*/
/* Header */
/* Landing Nav*/
.landing_page ul.products li.product { margin: 0 2% !important;}
#landing_nav-wrap{width:100%; background-color:#fff; !important; text-align: center;}
#landing_nav-wrap div a.landing_nav{color:#464444; padding:0.4em 0; text-align:center; width:14%; display:block; float:left; }
#landing_nav-wrap div a.landing_nav:hover{text-decoration:none; color:#fff;}
.landing_nav-hospital{border-bottom:5px solid #00426a;}
.landing_nav-mattresses{border-bottom:5px solid #78be20;}
.landing_nav-schools{border-bottom:5px solid #2774ae;}
.landing_nav-simlab{border-bottom:5px solid #ffad00;}
.landing_nav-ems{border-bottom:5px solid #d6001c;}
.landing_nav-ltc{border-bottom:5px solid #72d0f4;}
.landing_nav-qq { border-bottom:5px solid #464444;}
.cs-style-8 figure {overflow: hidden;}
.cs-style-8 figure img {-webkit-transition: -webkit-transform 0.4s;-moz-transition: -moz-transform 0.4s;transition: transform 0.4s;}
ul.cs-style-8{list-style:none;}
no-touch .cs-style-8 figure:hover img, .cs-style-8 figure.cs-hover img { -webkit-transform: translateX(50px); -moz-transform: translateX(50px); -ms-transform: translateX(50px); transform: translateX(50px); }
.cs-style-8 figcaption { height: 100%; width: 236px; top: auto; bottom: 0; opacity: 0; -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s; -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s; transition: transform 0.4s, opacity 0.1s 0.3s; }
.no-touch .cs-style-8 figure:hover figcaption, .cs-style-8 figure.cs-hover figcaption { opacity: 1; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); -ms-transform: translateX(0px); transform: translateX(0px); -webkit-transition: -webkit-transform 0.4s, opacity 0.1s; -moz-transition: -moz-transform 0.4s, opacity 0.1s; transition: transform 0.4s, opacity 0.1s; }
.touch .cs-style-8 figure:hover figcaption, .cs-style-8 figure.cs-hover figcaption { opacity: 1; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); -ms-transform: translateX(0px); transform: translateX(0px); -webkit-transition: -webkit-transform 0.4s, opacity 0.1s; -moz-transition: -moz-transform 0.4s, opacity 0.1s; transition: transform 0.4s, opacity 0.1s; }
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal { display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }
.hvr-shutter-out-horizontal:before { content: ""; position: absolute; z-index: -1; top: 0; bottom: 0; left: 0; right: 0; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 50%; transform-origin: 50%; -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.landing_nav-hospital:before { background:#00426a; }
.landing_nav-mattresses:before { background:#78be20; }
.landing_nav-schools:before { background:#2774ae; }
.landing_nav-simlab:before { background:#ffad00; }
.landing_nav-ems:before { background:#d6001c;  }
.landing_nav-ltc:before { background:#72d0f4; }
.landing_nav-qq:before { background:#464444; color:#fff; }
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active { color: #fff;  }
.hvr-shutter-out-horizontal:hover:before { -webkit-transform: scaleX(1); transform: scaleX(1); text-transform:none; }
.hvr-shutter-out-horizontal:active, .hvr-shutter-out-horizontal:visited, .hvr-shutter-out-horizontal:focus{ text-transform: none !important;}
.hos-links-menu{padding:16px 20px 0px 20px;}
.hos-links-menu a{color:#c3e2ff;text-decoration:none; background-color: none !important; }
.hos-links-menu a:hover{color:#c3e2ff;text-decoration: none; background-color: none !important;}
.hos-links-menu a:visited{color:#c3e2ff;text-decoration:none; background-color: none !important;}
.med-logo{width:100%;}
.search-form, #mm-right-contact{margin-top:15px;}
.form-control{margin-right:-10px;}
#searchsubmit{border-radius: 0 .25rem .25rem 0;}
.float-sm-right{float:none !important;}
.fa-search{font-size: 1.2rem;}
.navbar-header a{font-size: 19px; font-weight: 600; margin:0 20px;}
/*END*/

	.med-mat{background: #9ed05e;}
/*END*/

/* Main content */

#content article {
  margin: 40px 0
}
#content header {
  margin: 20px 0
}
#content section {
  margin-bottom: 20px
}
#content footer {
  padding-bottom: 20px
}

/* Sidebar */

.sidebar {
  margin-top: 20px
}
.sidebar section {
  margin-bottom: 40px
}
.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/* Comments */

#respond {
  margin-top: 40px
}
ol.commentlist {
	counter-reset: li; /* Initiate a counter */
	padding: 0
}
ol.commentlist ul {
  padding: 0
}
ol.commentlist > li {
	position: relative;
	margin: 0 0 20px 0;
	list-style: none /* Disable the normal item numbering */
}
ol.commentlist > li:before {
  content: "Thread " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  position:absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 5px 20px 5px 10px;
  color: #999
}
ol.commentlist li ol,
ol.commentlist li ul {
  list-style-type: none;
  margin: 0
}

.commentlist li li {
  background: #f9f9f9;
}
.commentlist li li li {
  background: #fff
}
.commentlist li li li li {
  background: #f9f9f9
}
.commentlist li li li li li li {
  background: #fff
}
.commentlist li {
  padding: 20px
}
.commentlist ul li {
  margin-top: 20px;
  margin-bottom: 0
}
.reply p {
  margin: 0
}

/* Site footer */

.site-footer {
  padding: 40px 0
}
.site-footer ul,
.site-footer ol {
  list-style-type: none;
  padding: 0
}
.site-footer li {
  margin: 10px 0
}
.site-sub-footer p {
  text-align: center
}

.site-footer p {
  text-align: center
}


/*BENZ MAIN MENU(S)*/
#benz-main-menu-wrap { clear:both; background-color:#9ed05e; width:100%; text-align:center; font-family: 'Open Sans', sans-serif; height:50px; }
#benz-main-menu-box .benz-menu .sub-menu {background-color: #ffffff; border-right: 1px solid #636363; border-bottom: 1px solid #636363; border-left: 1px solid #636363; padding: 25px; width: 976px; }
#benz-main-menu-box { max-width:1030px; width:100%; padding:0 4%; }
#benz-main-menu-box a { font-family: 'Open Sans', sans-serif; text-transform:uppercase;}
#benz-main-menu-box .benz-menu .sub-menu .menu-item-has-children {float:left; text-align:left; overflow: none;}
#benz-main-menu-box .sub-menu { overflow: hidden;}
.benz-bottom-colors { clear: both; color: #000; left: -25px; padding-left: 24px; position: relative; text-align: left; width: 1010px; z-index: 999; }
.arrow-down { z-index: 999; width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 20px solid #004ea8; position:relative; }
/*MATTRESS MENU*/
#menu-mattresses .sub-menu{ height: 369px; left:0px; }
@-moz-document url-prefix() { #menu-mattresses .sub-menu{ height: 370px; } }
#menu-mattresses .benz-bottom-colors { top: -54px; }
#menu-mattresses .sub-menu .menu-item-type-custom { width: 260px; }
#menu-mattresses > li:hover {color:#fff;}
#menu-mattresses > li:hover a{color:#fff;}
#menu-mattresses .arrow-down { left: 46px; top: -476px; }
#benz-menu-img-matt2 { left: 239px; position: relative; top: 27px; z-index: 999; }
#benz-menu-img-matt2:hover { color:#000; }
#benz-menu-img-matt3 { left: 407px; position: relative; top: -30px; }
/*COVERS MENU*/
#menu-replacement-covers-menu .sub-menu{ left: -181px; height: 257px;}
@-moz-document url-prefix() { #menu-replacement-covers-menu .sub-menu{ height: 258px; } }
#menu-replacement-covers-menu .benz-bottom-colors { top: 59px; }
#menu-replacement-covers-menu .sub-menu .menu-item-type-custom { width: 260px; }
#menu-replacement-covers-menu > li:hover {color:#fff;}
#menu-replacement-covers-menu > li:hover a{color:#fff;}
#menu-replacement-covers-menu .arrow-down { left: 228px; top: -250px; }
#benz-menu-img-cov1 { left: 15px; top: -34px; }
#benz-menu-img-cov2 { left: 556px; top: 104px; width: 266px; max-height:86px !important; }
#benz-menu-img-cov3 { left: 376px; position: relative; top: 73px; z-index: 9999;}
/*ACC MENU*/
#menu-accessories .sub-menu{ left: -456px; height: 159px; }
@-moz-document url-prefix() { #menu-accessories .sub-menu{ height: 160px; } }
#menu-accessories .benz-bottom-colors { top: -91px; }
#menu-accessories .sub-menu .menu-item-type-custom { width: 250px; }
#menu-accessories > li:hover {color:#fff;}
#menu-accessories > li:hover a{color:#fff;}
#menu-accessories .arrow-down { left: 496px; top: -303px; }
#benz-menu-img-acc { left: 40px; top: -101px; }
/*MFT MENU*/
#menu-manufacturers .sub-menu{ left: -642px; height: 138px; }
@-moz-document url-prefix() { #menu-manufacturers .sub-menu{ height: 139px; } }
#menu-manufacturers .benz-bottom-colors { top: 66px; }
#menu-manufacturers .sub-menu .menu-item-type-custom { width: 210px; }
#menu-manufacturers > li:hover {color:#fff;}
#menu-manufacturers > li:hover a{color:#fff;}
#menu-manufacturers .arrow-down { left: 696px; top: -125px; }
#benz-menu-img-mft1 { left: -133px; top: 5px; }
#benz-menu-img-mft2 { left: -79px; top: 75px; }
#benz-menu-img-mft3 { left: 310px; top: 45px; }
/*ABOUT MENU*/
#menu-about-us .sub-menu{ height: 277px; left: -870px; }
@-moz-document url-prefix() { #menu-about-us .sub-menu{ height: 278px; } }
#menu-about-us .benz-bottom-colors { top: -75px; z-index: 999; }
#menu-about-us > li:hover {color:#fff;}
#menu-about-us > li:hover a{color:#fff;}
#menu-about-us .arrow-down {  left: 914px; top: -26px; }
#benz-menu-about{ width:615px; height:300px; text-align:left; font-family: 'Open Sans', sans-serif; padding-left:10px; float:left; color:#000;}
#menu-item-1920:hover{ color:#000;}
#menu-item-1920 a:hover{ color:#000;}
#benz-menu-about .benz-menu-about-copy { font-size:14px; color:#000; }
#benz-menu-about .benz-menu-about-header { margin-top:6px; color:#2668b5; font-weight:600;}
/*about-phone*/
p.about-phone {position:relative; top:15px; left:-109px;  }
p.about-phone-number {position:relative; top:15px; left:-123px;  }
.about-phone-number i {position:relative; top:5px; left:-8px;}
/*about-fax*/
p.about-fax {  position: relative; top: -43px; left: 84px;}
p.about-fax-number {position:relative; top:-42px; left:81px;  }
.about-fax-number i {position:relative; top:5px; left:-8px;}
/*about-email*/
p.about-email {position:relative; top:-26px; left:-113px;  }
p.about-email-number {position:relative; top:-24px; left:-83px;  }
.about-email-number i {position:relative; top:5px; left:-8px;}
/*about-mail*/
p.about-mail {position:relative; top:-7px; left:-106px;  }
p.about-mail-number {position:relative; top:-10px; left:-74px;  }
.about-mail-number i {position:relative; top:2px; left:-8px;}
/*LEAVE THIS MENU STUFF AT THE END!!!!*/
#benz-main-menu-box p.benz-menu-copy{ color:#000; display: inline; float: right; font-size: 16px; font-style: italic; font-weight: 600; text-align:left;}
#benz-main-menu-box p.benz-menu-copy:hover { color:#000;}
.benz-menu-img { float: right; position: relative; z-index: 999; }
#menu-item-1920{float:right; width:440px; position: relative; top: -315px; }
#menu-item-1920 a{color: #004ea8 !important}
#menu-item-1920 a:hover{font-weight:bold; !important; color: #004ea8 !important}
#benz-main-menu-box .benz-blueheader a{color:#004ea8 !important; padding:0; font-weight:600; font-size: 15px; margin-bottom: 0px;}
#benz-main-menu-box .benz-blueheader a:hover{ font-weight:700; background-color:#fff !important; color:#004ea8;}
#benz-main-menu-box .benz-viewall a{ text-decoration: underline; color:#000 !important; text-transform: capitalize; font-weight: 500; margin-bottom:8px;}
#benz-main-menu-box .benz-viewall a:hover{font-weight:700; font-weight: 600; color:#000;}
#benz-main-menu-box .mmregular-item a{margin-bottom:0; font-size:14px;color:#000 !important; text-transform: capitalize;font-weight: 500;}
#benz-main-menu-box .mmregular-item a:hover{font-weight:700; font-weight: 600; color:#000;}
.benz-blueheader .sub-menu { width:250px !important; }
#benz-main-menu-box .mmregular-item-bari a{margin-bottom:3px; font-size:14px;color:#000 !important; text-transform: capitalize;font-weight: 500;}
#benz-main-menu-box .mmregular-item-bari a:hover{font-weight:700; font-weight: 600; color:#000;}
.benz-blueheader .sub-menu { width:250px !important; }
#menu-item-1961 a{font-size:1.4em !important; text-decoration:underline; }
#menu-item-1962 a{text-transform: none !important; }
#menu-item-2345 a{ line-height:17px !important;}
#custom-size-imgmenu{ float:right; width:289px;}
#custom-size-imgmenu a{ padding:0px !important; }
#custom-size-imgmenu img{max-width: 290px !important; max-height: 86px!important;}
#benz-menu-img-matt1 { left: -21px; top: -40px; width: 289px; }
/* END */




/*Special sub-menu widths and display for header menus*/
#menu-item-1922 .sub-menu,
#menu-item-1966 .sub-menu,
#menu-item-1979 .sub-menu,
#menu-item-1923 .sub-menu,
#menu-item-1945 .sub-menu,
#menu-item-1897 .sub-menu,
#menu-item-1903 .sub-menu,
#menu-item-1911 .sub-menu,
#menu-item-1921 .sub-menu,
#menu-item-1930 .sub-menu,
#menu-item-1934 .sub-menu { left:0px; border: none !important; box-shadow: none !important; top: 23px; font-size:13px; display: block; height:116px; width:300px; padding: 0 !important;}
#menu-item-1923 .sub-menu,
#menu-item-1945 .sub-menu { height:200px; }
#menu-item-1922 .sub-menu,
#menu-item-1966 .sub-menu,
#menu-item-1979 .sub-menu { height:335px; }
/* END */


/* Responsive Stuff */
@media(min-width:1200px){
	.size-desktop{width:33.333%; float: left;}
	.mobile-search-bar{display:none;}
}
@media (max-width:1199px){
	#landing_nav-wrap div a.landing_nav{font-size: .8rem;}
	.size-laptop{width:33.333%; float: left;}
	.mobile-search-bar{display:none;}
}

@media (max-width:991px){
		#landing_nav-wrap div a.landing_nav{display:none;}
		#mm-right-contact{display: none; }
		.size-tablet{width:50%;float: left;}
		#desktop-navbar {display: none;}
		.med-mat-mobile{background: #9ed05e;}
		#responsive-menu-button{position:absolute; top:7px !important; left:0 !important}
		.med-logo{padding:0 54px 0 0;}
		#responsive-menu-title{color:#78be20 !important;}

}

@media (max-width:575px){
	#logo {width:100%;}
	.search-form {display: none;}
	#searchsubmit{float: right; margin-top: -38px;}
	.mobile-search-bar{display:inline-block;width:80%;}

}
/* END */
