/* Max content widths */

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto
}

/* Navbar */

.navbar-topbar {
  border-radius: 0;
}

.navbar .dropdown-menu li {
  width: 100%;
  margin-left: 0 !important;
}



/*
Header logo
If you require a Site title and a logo, an example of how to do this is provided below (use your own logo):

#site-title a {
  display: inline-block;
	padding-left 60px;
  background: url('../../img/logo.png') 0 0 no-repeat;
}
*/
/* Header */
/* Landing Nav*/
.landing_page ul.products li.product { margin: 0 2% !important;}
#landing_nav-wrap{width:100%; background-color:#fff; !important; text-align: center;}
#landing_nav-wrap div a.landing_nav{color:#464444; padding:0.4em 0; text-align:center; width:14%; display:block; float:left; }
#landing_nav-wrap div a.landing_nav:hover{text-decoration:none; color:#fff;}
.landing_nav-hospital{border-bottom:5px solid #00426a;}
.landing_nav-mattresses{border-bottom:5px solid #78be20;}
.landing_nav-schools{border-bottom:5px solid #2774ae;}
.landing_nav-simlab{border-bottom:5px solid #ffad00;}
.landing_nav-ems{border-bottom:5px solid #d6001c;}
.landing_nav-ltc{border-bottom:5px solid #72d0f4;}
.landing_nav-qq { border-bottom:5px solid #464444;}
.cs-style-8 figure {overflow: hidden;}
.cs-style-8 figure img {-webkit-transition: -webkit-transform 0.4s;-moz-transition: -moz-transform 0.4s;transition: transform 0.4s;}
ul.cs-style-8{list-style:none;}
no-touch .cs-style-8 figure:hover img, .cs-style-8 figure.cs-hover img { -webkit-transform: translateX(50px); -moz-transform: translateX(50px); -ms-transform: translateX(50px); transform: translateX(50px); }
.cs-style-8 figcaption { height: 100%; width: 236px; top: auto; bottom: 0; opacity: 0; -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s; -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s; transition: transform 0.4s, opacity 0.1s 0.3s; }
.no-touch .cs-style-8 figure:hover figcaption, .cs-style-8 figure.cs-hover figcaption { opacity: 1; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); -ms-transform: translateX(0px); transform: translateX(0px); -webkit-transition: -webkit-transform 0.4s, opacity 0.1s; -moz-transition: -moz-transform 0.4s, opacity 0.1s; transition: transform 0.4s, opacity 0.1s; }
.touch .cs-style-8 figure:hover figcaption, .cs-style-8 figure.cs-hover figcaption { opacity: 1; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); -ms-transform: translateX(0px); transform: translateX(0px); -webkit-transition: -webkit-transform 0.4s, opacity 0.1s; -moz-transition: -moz-transform 0.4s, opacity 0.1s; transition: transform 0.4s, opacity 0.1s; }
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal { display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }
.hvr-shutter-out-horizontal:before { content: ""; position: absolute; z-index: -1; top: 0; bottom: 0; left: 0; right: 0; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 50%; transform-origin: 50%; -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.landing_nav-hospital:before { background:#00426a; }
.landing_nav-mattresses:before { background:#78be20; }
.landing_nav-schools:before { background:#2774ae; }
.landing_nav-simlab:before { background:#ffad00; }
.landing_nav-ems:before { background:#d6001c;  }
.landing_nav-ltc:before { background:#72d0f4; }
.landing_nav-qq:before { background:#464444; color:#fff; }
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active { color: #fff;  }
.hvr-shutter-out-horizontal:hover:before { -webkit-transform: scaleX(1); transform: scaleX(1); text-transform:none; }
.hvr-shutter-out-horizontal:active, .hvr-shutter-out-horizontal:visited, .hvr-shutter-out-horizontal:focus{ text-transform: none !important;}
.hos-links-menu{padding:16px 20px 0px 20px;}
.hos-links-menu a{color:#c3e2ff;text-decoration:none; background-color: none !important; }
.hos-links-menu a:hover{color:#c3e2ff;text-decoration: none; background-color: none !important;}
.hos-links-menu a:visited{color:#c3e2ff;text-decoration:none; background-color: none !important;}
.med-logo{width:100%; margin-bottom: 23px;}
.search-form, #mm-right-contact{margin-top:15px;}
.form-control{margin-right:-10px;display: inline-block; width: 60%; margin-top: 20px;}
#searchsubmit{border-radius: 0 .25rem .25rem 0; margin-top: -16px;}
.float-sm-right{float:none !important;}
.fa-search{font-size: 1.2rem;}
.navbar-header a{font-size: 19px; font-weight: 600; margin:0 20px;}
.search-bar{border-color: #aeaeae; -moz-border-radius-bottomleft: 10px; border-bottom-left-radius: 10px;-moz-border-radius-topleft: 10px; border-top-left-radius: 10px;}
#searchform #searchsubmit { background-color: #ebebeb; border-color: transparent; -moz-border-radius-bottomright: 10px; border-bottom-right-radius: 10px; -moz-border-radius-topright: 10px; border-top-right-radius: 10px; position: relative; left: -5px; top: 6px; border-top: 1px solid #aeaeae; border-right: 1px solid #aeaeae; border-bottom: 1px solid #aeaeae;}
#fixed-row{margin-bottom: 10px;}

#landing_nav-wrap{width:100%; background-color:#fff; margin-bottom:20px; height:40px; }
#landing_nav-wrap a.landing_nav{color:#464444; padding:0.4em 0; text-align:center; width:14%; display:block; float:left; font-size: 0.7em; font-weight: 600 !important; font-family: "Open Sans",sans-serif;}
#landing_nav-wrap a.landing_nav:hover{text-decoration:none; color:#fff;}
.magnifying-icon{pointer-events:none;color:#9ed05e;position:relative;left: -39px;}


/*END*/


/*END*/

/* Main content */

#content article {
  margin: 40px 0
}
#content header {
  margin: 20px 0
}
#content section {
  margin-bottom: 20px
}
#content footer {
  padding-bottom: 20px
}

/* Sidebar */

.sidebar {
  margin-top: 20px
}
.sidebar section {
  margin-bottom: 40px
}
.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/* Comments */

#respond {
  margin-top: 40px
}
ol.commentlist {
	counter-reset: li; /* Initiate a counter */
	padding: 0
}
ol.commentlist ul {
  padding: 0
}
ol.commentlist > li {
	position: relative;
	margin: 0 0 20px 0;
	list-style: none /* Disable the normal item numbering */
}
ol.commentlist > li:before {
  content: "Thread " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  position:absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 5px 20px 5px 10px;
  color: #999
}
ol.commentlist li ol,
ol.commentlist li ul {
  list-style-type: none;
  margin: 0
}

.commentlist li li {
  background: #f9f9f9;
}
.commentlist li li li {
  background: #fff
}
.commentlist li li li li {
  background: #f9f9f9
}
.commentlist li li li li li li {
  background: #fff
}
.commentlist li {
  padding: 20px
}
.commentlist ul li {
  margin-top: 20px;
  margin-bottom: 0
}
.reply p {
  margin: 0
}

/* Site footer */

.site-footer {
  padding: 40px 0
}
.site-footer ul,
.site-footer ol {
  list-style-type: none;
  padding: 0
}
.site-footer li {
  margin: 10px 0
}
.site-sub-footer p {
  text-align: center
}

.site-footer p {
  text-align: center
}




/* SIGN IN && NEED HELP MENU */
#mm-right-contact .sub-menu { background-color: #ffffff; border: 1px solid #d7d7d7; left: -71px; padding: 5px; width: 300px; top:40px; }
#menu-item-1887 .sub-menu { }
#menu-item-1887 .sub-menu li,
#menu-item-2041 .sub-menu li { list-style:disc; margin: 10px 0 0 26px; }
#menu-item-1887 .sub-menu li a,
#menu-item-2041 .sub-menu li a  { color:#004ea8; line-height:24px; }
#menu-item-1887 .sub-menu li a:hover,
#menu-item-2041 .sub-menu li a:hover{ background-color:#fff; color:#636363; }
#menu-item-1887 .sub-menu .insert-img-here,
#menu-item-2041 .sub-menu .insert-img-here {text-align:center; padding-top:6px; padding-left:0;}
#menu-item-1895 .sub-menu { }
#menu-item-1895 .sub-menu li { list-style:none; }
#menu-item-1895 .sub-menu li a { color:#004ea8; line-height:24px; }
#menu-item-1895 .sub-menu li a:hover{ background-color:#fff; color:#636363; }
#menu-item-1895 .sub-menu .insert-img-here { padding:12px; color:#000; line-height:29px;}
#menu-item-1895 .sub-menu #wppb-submit { text-transform:uppercase; font-family: 'Open Sans', sans-serif; padding: 8px 107px; background-color:#78be20; margin-top:3px;}
#menu-item-1895 .sub-menu #benz-register-link { color:#fff; text-transform:uppercase; font-family: 'Open Sans', sans-serif; padding: 12px 0px; background-color:#004ea8; margin-top:5px;margin-bottom:5px; font-size:19px; font-weight:500;}
.menu-sign_in-container, .menu-my-account-container {text-align:left; color:#636363; font-family: 'Open Sans', sans-serif; float:left; }
.menu-sign_in-container ul li{list-style: none; }
.menu-my-account-container ul li{list-style: none;}
#menu-item-1896{ margin-left:13px; margin-bottom:7px;}
#menu-item-2041{ margin: 0px !important; }
#menu-my-account{ margin: 0px !important; }
.menu-sign_in-container input[type="text"], .menu-sign_in-container input[type="email"], .menu-sign_in-container input[type="url"], .menu-sign_in-container input[type="password"], .menu-sign_in-container input[type="search"], .menu-sign_in-container textarea { width:100%;}
.menu-need_help-container {top: -5px; }
.menu-need_help-container ul li{list-style: none; text-align:left; }
#searchform #searchsubmit {background-color: #ebebeb; border-bottom-right-radius: 10px; border-top-right-radius: 10px; position:relative; left:-5px; top:6px; border-top: 1px solid #aeaeae; border-right: 1px solid #aeaeae; border-bottom: 1px solid #aeaeae;}
@-moz-document url-prefix() { #searchform #searchsubmit {padding: 17px 20px;} }
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], textarea {padding:7px 15px; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { padding: 7px 20px; }
.festi-cart-text-before-quantity{font-weight: 600 !important;}
.festi-cart-text-after-quantity{font-weight: 600 !important;}
.arrow-up-mm {border-bottom: 20px solid #cccccc; border-left: 20px solid transparent; border-right: 20px solid transparent; font-size: 0; height: 0; line-height: 0; margin: -25px 0 0 80px; width: 0; }
.arrow-up-mm:after{ content:''; width: 0; height: 0; border-bottom: 19px solid #fff; border-left: 19px solid transparent; border-right: 19px solid transparent; left: 86px; position: absolute; top: -19px; }
body div.festi-cart-arrow { border-bottom: 20px solid #cccccc !important; border-left: 20px solid transparent !important; border-right: 20px solid transparent !important; font-size: 0; height: 0; line-height: 0; margin: -25px 0 0 80px; width: 0; }
body div.festi-cart-arrow:after{ content:'' !important; width: 0 !important; height: 0 !important; border-bottom: 19px solid #fff !important; border-left: 19px solid transparent !important; border-right: 19px solid transparent !important; left: 86px !important; position: absolute !important; top: -18px !important; }
body div.festi-cart-arrow:after{ border-bottom: 19px solid #fff !important; border-left: 19px solid transparent !important; border-right: 19px solid transparent !important; content: '' !important; height: 0 !important; left: -19px !important; position: absolute !important; top: 1px !important; width: 0 !important; z-index: 99999 !important; }
.festi-cart-products{ width:500px ; margin-top:4px; z-index:999 !important; }
.festi-cart-buttons{ text-transform: uppercase; font-weight:500;}
body div.festi-cart-products { padding-top: 19px !important; }
body div.festi-cart-products-content > table.festi-cart-list tr, body div.festi-cart-products-content > table.festi-cart-list tr td { border-bottom: 1px solid #a1a1a1 !important; }
body div.festi-cart-total{border-bottom: 1px solid #cccccc !important; border-radius: 0 !important;}
span.festi-cart-product-count { margin-left:80%; text-align:right;}
.festi-cart-product-price .amount { text-align:right;}
/*END*/

/*BENZ MAIN MENU(S)*/
#benz-main-menu-wrap { clear:both; background-color:#9ed05e; width:100%; text-align:center; font-family: 'Open Sans', sans-serif; height:50px; }
#benz-main-menu-box .benz-menu .sub-menu {background-color: #ffffff; border-right: 1px solid #636363; border-bottom: 1px solid #636363; border-left: 1px solid #636363; padding: 25px; width: 976px; }
#benz-main-menu-box { width:100%; padding:0 4%; }
#benz-main-menu-box a { font-family: 'Open Sans', sans-serif; text-transform:uppercase;}
#benz-main-menu-box .benz-menu .sub-menu .menu-item-has-children {float:left; text-align:left; overflow: none;}
#benz-main-menu-box .sub-menu { overflow: hidden;}
.benz-bottom-colors { clear: both; color: #000; left: -25px; padding-left: 24px; position: relative; text-align: left; width: 1010px; z-index: 999; }
.arrow-down { z-index: 999; width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 20px solid #004ea8; position:relative; }
/*MATTRESS MENU*/
#menu-mattresses .sub-menu{ height: 369px; left:0px; }
@-moz-document url-prefix() { #menu-mattresses .sub-menu{ height: 370px; } }
#menu-mattresses .benz-bottom-colors { top: -54px; }
#menu-mattresses .sub-menu .menu-item-type-custom { width: 260px; }
#menu-mattresses > li:hover {color:#fff;}
#menu-mattresses > li:hover a{color:#fff;}
#menu-mattresses .arrow-down { left: 46px; top: -476px; }
#benz-menu-img-matt2 { left: 239px; position: relative; top: 27px; z-index: 999; }
#benz-menu-img-matt2:hover { color:#000; }
#benz-menu-img-matt3 { left: 407px; position: relative; top: -30px; }
/*COVERS MENU*/
#menu-replacement-covers-menu .sub-menu{ left: -181px; height: 257px;}
@-moz-document url-prefix() { #menu-replacement-covers-menu .sub-menu{ height: 258px; } }
#menu-replacement-covers-menu .benz-bottom-colors { top: 59px; }
#menu-replacement-covers-menu .sub-menu .menu-item-type-custom { width: 260px; }
#menu-replacement-covers-menu > li:hover {color:#fff;}
#menu-replacement-covers-menu > li:hover a{color:#fff;}
#menu-replacement-covers-menu .arrow-down { left: 228px; top: -250px; }
#benz-menu-img-cov1 { left: 15px; top: -34px; }
#benz-menu-img-cov2 { left: 556px; top: 104px; width: 266px; max-height:86px !important; }
#benz-menu-img-cov3 { left: 376px; position: relative; top: 73px; z-index: 9999;}
/*ACC MENU*/
#menu-accessories .sub-menu{ left: -456px; height: 159px; }
@-moz-document url-prefix() { #menu-accessories .sub-menu{ height: 160px; } }
#menu-accessories .benz-bottom-colors { top: -91px; }
#menu-accessories .sub-menu .menu-item-type-custom { width: 250px; }
#menu-accessories > li:hover {color:#fff;}
#menu-accessories > li:hover a{color:#fff;}
#menu-accessories .arrow-down { left: 496px; top: -303px; }
#benz-menu-img-acc { left: 40px; top: -101px; }
/*MFT MENU*/
#menu-manufacturers .sub-menu{ left: -642px; height: 138px; }
@-moz-document url-prefix() { #menu-manufacturers .sub-menu{ height: 139px; } }
#menu-manufacturers .benz-bottom-colors { top: 66px; }
#menu-manufacturers .sub-menu .menu-item-type-custom { width: 210px; }
#menu-manufacturers > li:hover {color:#fff;}
#menu-manufacturers > li:hover a{color:#fff;}
#menu-manufacturers .arrow-down { left: 696px; top: -125px; }
#benz-menu-img-mft1 { left: -133px; top: 5px; }
#benz-menu-img-mft2 { left: -79px; top: 75px; }
#benz-menu-img-mft3 { left: 310px; top: 45px; }
/*ABOUT MENU*/
#menu-about-us .sub-menu{ height: 277px; left: -870px; }
@-moz-document url-prefix() { #menu-about-us .sub-menu{ height: 278px; } }
#menu-about-us .benz-bottom-colors { top: -75px; z-index: 999; }
#menu-about-us > li:hover {color:#fff;}
#menu-about-us > li:hover a{color:#fff;}
#menu-about-us .arrow-down {  left: 914px; top: -26px; }
#benz-menu-about{ width:615px; height:300px; text-align:left; font-family: 'Open Sans', sans-serif; padding-left:10px; float:left; color:#000;}
#menu-item-1920:hover{ color:#000;}
#menu-item-1920 a:hover{ color:#000;}
#benz-menu-about .benz-menu-about-copy { font-size:14px; color:#000; }
#benz-menu-about .benz-menu-about-header { margin-top:6px; color:#2668b5; font-weight:600;}
/*about-phone*/
p.about-phone {position:relative; top:15px; left:-109px;  }
p.about-phone-number {position:relative; top:15px; left:-123px;  }
.about-phone-number i {position:relative; top:5px; left:-8px;}
/*about-fax*/
p.about-fax {  position: relative; top: -43px; left: 84px;}
p.about-fax-number {position:relative; top:-42px; left:81px;  }
.about-fax-number i {position:relative; top:5px; left:-8px;}
/*about-email*/
p.about-email {position:relative; top:-26px; left:-113px;  }
p.about-email-number {position:relative; top:-24px; left:-83px;  }
.about-email-number i {position:relative; top:5px; left:-8px;}
/*about-mail*/
p.about-mail {position:relative; top:-7px; left:-106px;  }
p.about-mail-number {position:relative; top:-10px; left:-74px;  }
.about-mail-number i {position:relative; top:2px; left:-8px;}
/*LEAVE THIS MENU STUFF AT THE END!!!!*/
#benz-main-menu-box p.benz-menu-copy{ color:#000; display: inline; float: right; font-size: 16px; font-style: italic; font-weight: 600; text-align:left;}
#benz-main-menu-box p.benz-menu-copy:hover { color:#000;}
.benz-menu-img { float: right; position: relative; z-index: 999; }
#menu-item-1920{float:right; width:440px; position: relative; top: -315px; }
#menu-item-1920 a{color: #004ea8 !important}
#menu-item-1920 a:hover{font-weight:bold; !important; color: #004ea8 !important}
#benz-main-menu-box .benz-blueheader a{color:#004ea8 !important; padding:0; font-weight:600; font-size: 15px; margin-bottom: 0px;}
#benz-main-menu-box .benz-blueheader a:hover{ font-weight:700; background-color:#fff !important; color:#004ea8;}
#benz-main-menu-box .benz-viewall a{ text-decoration: underline; color:#000 !important; text-transform: capitalize; font-weight: 500; margin-bottom:8px;}
#benz-main-menu-box .benz-viewall a:hover{font-weight:700; font-weight: 600; color:#000;}
#benz-main-menu-box .mmregular-item a{margin-bottom:0; font-size:14px;color:#000 !important; text-transform: capitalize;font-weight: 500;}
#benz-main-menu-box .mmregular-item a:hover{font-weight:700; font-weight: 600; color:#000;}
.benz-blueheader .sub-menu { width:250px !important; }
#benz-main-menu-box .mmregular-item-bari a{margin-bottom:3px; font-size:14px;color:#000 !important; text-transform: capitalize;font-weight: 500;}
#benz-main-menu-box .mmregular-item-bari a:hover{font-weight:700; font-weight: 600; color:#000;}
.benz-blueheader .sub-menu { width:250px !important; }
#menu-item-1961 a{font-size:1.4em !important; text-decoration:underline; }
#menu-item-1962 a{text-transform: none !important; }
#menu-item-2345 a{ line-height:17px !important;}
#custom-size-imgmenu{ float:right; width:289px;}
#custom-size-imgmenu a{ padding:0px !important; }
#custom-size-imgmenu img{max-width: 290px !important; max-height: 86px!important;}
#benz-menu-img-matt1 { left: -21px; top: -40px; width: 289px; }
/* END */

/*Special sub-menu widths and display for header menus*/
#menu-item-1922 .sub-menu,
#menu-item-1966 .sub-menu,
#menu-item-1979 .sub-menu,
#menu-item-1923 .sub-menu,
#menu-item-1945 .sub-menu,
#menu-item-1897 .sub-menu,
#menu-item-1903 .sub-menu,
#menu-item-1911 .sub-menu,
#menu-item-1921 .sub-menu,
#menu-item-1930 .sub-menu,
#menu-item-1934 .sub-menu { left:0px; border: none !important; box-shadow: none !important; top: 23px; font-size:13px; display: block; height:116px; width:300px; padding: 0 !important;}
#menu-item-1923 .sub-menu,
#menu-item-1945 .sub-menu { height:200px; }
#menu-item-1922 .sub-menu,
#menu-item-1966 .sub-menu,
#menu-item-1979 .sub-menu { height:335px; }
/* END */

/*ACTUAL HEADERS*/
li.main-header-link:hover, .benz-menu > ul > li > a:hover {background-color:#004ea8;text-decoration: none; }
/* END */


/* Tabs */
.wc-tabs-wrapper .wc-tab { overflow:scroll; border:4px solid #cccccc; padding:1em !important; }
.wc-tabs-wrapper ul ul { margin: 0 !important}
.wc-tabs-wrapper ul {padding-left:0px !important; margin-bottom:0px !important; }
.wc-tabs-wrapper .active { background-color:#5d8dc3 !important; color:#fff !important; border-bottom: 0 !important;}
.wc-tabs-wrapper #tab-description{ padding:1em !important; }
.woocommerce-tabs ul, .woocommerce-tabs ol { margin-left: 1em; }
.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before { border: 0px !important; content: none !important; }
/* END */

/* FREE SHIPPING PRODUCTS */
#free_ship-productpage { float:left; font-family: 'Open Sans', sans-serif; width:300px; margin-bottom:0.6em;  margin-top:1em; }
#free_ship-productpage span {margin-top:1em;  }
#free_ship-productpage p.add_shipp {font-family: 'Open Sans', sans-serif; font-size:15px; color:#464444; }
#free_ship-productpage .red_free { }
#free_ship-productpage img { margin-right:1em; margin-left:-1em; width:110px !important; max-width: 110px !important; min-width: 101px !important;}
/* END */

/*product page*/
.woocommerce-main-image img {max-width:300px; border: 5px solid #004ea8; border-radius: 0 !important; min-width:240px;}
.entry-content .images{ width:30% !important; }
.woocommerce div.product .product_title {font-size:28px; color: #004ea8; font-family: 'Open Sans', sans-serif !important; font-weight:600; }
.products h2{ border-bottom:3px dotted #78be20; font-size:1.2em;}
.type-product .inside-article{padding-top: 20px;}
.sku_wrapper{font-family: 'Open Sans', sans-serif; font-size:0.83em; font-weight: 600;  }
.woocommerce div.product form.cart .variations select { width: 60%; min-width:60%; }
.woocommerce div.product p.price, .woocommerce div.product span.price {font-family: "Open Sans",sans-serif; color: #d6001c; font-size: 1.45em; margin-bottom:15px; font-weight:600;}
.variations select { font-family: "Open Sans",sans-serif; font-size: 16px;}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {background-color:#5d8dc3; }
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {background-color:#004ea8; }
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt[disabled]:disabled, .woocommerce #respond input#submit.alt[disabled]:disabled:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt[disabled]:disabled, .woocommerce a.button.alt[disabled]:disabled:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt[disabled]:disabled, .woocommerce button.button.alt[disabled]:disabled:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt[disabled]:disabled, .woocommerce input.button.alt[disabled]:disabled:hover {background-color:#004ea8;}
.woocommerce div.product form.cart .reset_variations { font-size: 1em; }
.woocommerce div.product form.cart .button {margin-left:0.6em; }
.variations_button{ margin-top:0.6em;}
.woocommerce .quantity, .woocommerce-page .quantity { /*float:right !important; margin: -52px 350px 0 0 !important; */}
.woocommerce div.product form.cart .variations {margin-bottom:0.1em; }
.variations td {height:20px; padding-top:0px }
.single-product .images .thumbnails{display:none;}
/* END */

/*CART STUFF DROP*/
body a#festi-cart.festi-cart.festi-cart-customize {padding: 0 !important; }
div.festi-cart-content{color:#636363 !important; font-family: 'Open Sans', sans-serif !important; font-weight: 600 !important; font-size:15px !important; }
/* END */

/*Breadcrumbs*/
.woocommerce-breadcrumb{ background-color:#2a6abb; color:#fff !important;  padding: 0 40px !important; text-align:center; font-size:20px !important; font-family: helvetica; text-transform: capitalize; margin-top:10px !important;margin-bottom: 5px !important;}
.woocommerce-breadcrumb a{color:#fff !important; font-size:20px !important;}
div.pp_woocommerce div.ppt {display:none !important;}
.woocommerce-breadcrumb a:hover{color:#78be20 !important;font-size:20px !important;}
/* END */



/*Gallery Headers ETC*/
.header-wrap-text-mattress{ width:auto; height:214px; padding:20px; border:8px solid #004ea8; margin-bottom: 10px; }
.header-wrap-text-mattress p{ text-transform: uppercase; font-weight:500; margin-top:30px !important;}
.header-wrap-text-mattress-header{color: #004ea8; text-transform: uppercase;}
.header-wrap-text-mattress-header span {font-size: 64px; line-height: 58px; }
.header-spread_copy {font-size: 52px; line-height: 59px; }
.header2-spread_copy { letter-spacing: 6px; }
.header3-spread_copy { letter-spacing: 8px; }
.header4-spread_copy { letter-spacing: 9px; }
.header4-spread_copy { font-size: 54px !important; letter-spacing: 1px; }
.header5-spread_copy { letter-spacing: 28px; }
.header6-spread_copy { letter-spacing: 13px; }
.header7-spread_copy { font-size: 60px !important; letter-spacing: 0px; }
.header8-spread_copy { letter-spacing: 3px; }
.header9-spread_copy { letter-spacing: 16px; }
.header10-spread_copy { letter-spacing: 19px; }
.header11-spread_copy { letter-spacing: 0.6px; }
.header12-spread_copy { letter-spacing: 44px; }
.header13-spread_copy { font-size: 62px !important; letter-spacing: 1px; }
.header14-spread_copy { font-size: 61px !important; letter-spacing: 0px; }
.header15-spread_copy { letter-spacing: 26px; }
.header16-spread_copy { font-size: 44px !important; letter-spacing: 0px; line-height: 46px !important; }
.header19-spread_copy { letter-spacing: 6px; }
.header20-spread_copy { font-size: 61px !important; letter-spacing: 1px; }
.header21-spread_copy { letter-spacing: 5px; }
.header22-spread_copy { letter-spacing: 33px; }
.header23-spread_copy { letter-spacing: 10px; }
.header24-spread_copy { letter-spacing: 11px; }
.header25-spread_copy { font-size: 52px !important; letter-spacing: 1px; }
.header26-spread_copy { letter-spacing: 20px; }
.header27-spread_copy { letter-spacing: 12px; }
.header28-spread_copy { font-size: 57px !important; letter-spacing: 1px; }
.mattress-spread_copy { font-family: "Open Sans",sans-serif; font-size: 46px !important;; font-weight: 400; letter-spacing: 6px !important; line-height: 53px !important; border-bottom: 5px solid #004ea8; padding-bottom:21px }
.covers-spread_copy { font-family: "Open Sans",sans-serif; font-size: 55px !important; font-weight: 400; letter-spacing: 26px !important;; line-height: 53px !important;; border-bottom: 5px solid #004ea8; padding-bottom:15px }
.camp-spread_copy { margin-top:-30px; color:#fff; font-size: 94px !important; line-height: 81px !important; }
.camp2-spread_copy { color:#fff; font-size: 94px !important; line-height: 81px !important; border-bottom: 5px solid #004ea8; padding-bottom:1px }
.camp3-spread_copy { color:#fff; font-size: 56px !important; line-height: 47px !important; }
.camp4-spread_copy { color:#fff; font-size: 64px !important; line-height: 74px !important; border-bottom: 5px solid #004ea8; padding-bottom:1px }
.camper-mattress{ float:right; margin-top: -48px; }
.wraparound-category{ width:auto; height:160px; background-color:#fff; margin-bottom:2em; border-bottom:4px solid #004ea8; }
.category_desc{  border-right: 3px solid #004ea8; float: left; font-family: "Open Sans",sans-serif; font-size: 15.7px; font-style: italic; font-weight: 600; height: 132px; margin: 0; padding: 10px; text-align: center; width: 27%; margin: -10px 0 0;}
.shipp_section {float: left; height: auto; padding: 10px 1px 10px 0px; width: 635px; font-family: "Open Sans",sans-serif;margin-top: -6px;}
.free_shipp_copy {  font-size: 17px; line-height: 22px;  position: relative; top: 10px; }
.em_free { font-style:italic; font-size: 17px; font-style: italic; line-height: 9px; }
.red_free { color:#d6001c; text-transform: uppercase; font-weight: bold; line-height: 10px; }
.shipp_comment_wrap {float: left; line-height: 20px; margin-top: -26px; text-align: center; width: 164px; }
.product h3 { text-align: center; }
.product .price { text-align: center; }
.summary .price { text-align: left; }
.product a{ font-family: 'Open Sans', sans-serif; color:#004ea8;}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product { margin-bottom:1px; }
/* END */




/* Main Page */
#homerotator{margin:20px 0 10px 0; width:100%;}
#home-custom-size-mattress{ background-image: url(http://medmattress.com/wp-content/imgs/Custom-Size-Mattress-home.png); background-size: cover; height: 138px; width:100%;background-repeat: no-repeat; margin: 0; position:relative; margin-bottom: 10px;}
#home-custom-size-mattress #box-link{ top: 4px; left: 0px; background-color: transparent; width:100%; height:129px; }
#home-custom-size-mattress a{color:#fff; text-align:left; position:relative; width:65%; float:right; top:59px; font-size: 16px; font-family: 'Open Sans', sans-serif;}
#home-custom-size-mattress a:hover {color:#fff; font-weight:bolder; }
#home-healthcare-mattresses-row {margin:0px;}
#soliloquy-container-2004 {margin:0 auto;}
.soliloquy-container .soliloquy-pager{display: none;}
#home-healthcare-mattresses p{margin-bottom:-2px; font-family: 'Open Sans', sans-serif; }
#home-healthcare-mattresses {padding: 12px 22px 22px; background-image: url(http://medmattress.com/wp-content/imgs/Healthcare-Mattresses.png); background-size: cover; background-repeat: no-repeat; float: left; height: 277px; margin-bottom:0.8em;}
#home-healthcare-mattresses div a{ font-family: 'Open Sans', sans-serif; color:#000;}
#home-healthcare-mattresses div a:hover{ font-weight: bold; }
#home-healthcare-mattresses h3 a{color: #000; font-family: "Open Sans",sans-serif; font-size: 29px; font-weight: 700; line-height: 27px; text-transform: uppercase; }
#home-healthcare-mattresses h3 a:hover{ font-weight: bold; }
.mattress-links{font-size: 16px; font-weight: 600; line-height: 16.9px; margin-top: -14px;}
.mattress-links a {float:left; clear: both; margin-top: 2px;}
.healthcare-mattress{margin-bottom: 15px;}
#mattress-homepage-greenad {z-index:-1; background-color:#daedc3; height:auto; width:100%; clear:both; margin-bottom:0.8em; position:relative; overflow-x: hidden; overflow-x: none; }
#green-bar{width:100%;}
#mattress-green-content{font-family: "Open Sans",sans-serif; width:58%; margin: 0 auto; padding-top: 13px; text-align: center; }
#mattress-green-content h3{font-size:22px; font-weight: 700; margin-bottom: 15px;}
#mattress-green-content p{ font-size: 16px; margin-bottom: 15px;}
#mattresshomeimgwrap {height:80px; width:100%; margin:0 auto; clear:both; align-content: center; align-items: center; padding: 0 19%;}
#mattresshomeimgwrap img {margin: 0 1em; display:inline; float:left; width:auto; height: auto;}


/* END */

/* Responsive Stuff */
@media(min-width:1200px){
	.size-desktop{width:33.333%; float: left;}
	.mobile-search-bar{display:none;}
	.med-mat-mobile{background: #9ed05e;display: none;}
	#landing_nav-wrap a.landing_nav{font-size:1.1em; font-weight: 600 !important; }
	#landing_nav-wrap .container { padding:0;}

}
@media (max-width:1199px){
	#landing_nav-wrap div a.landing_nav{font-size: .7rem;}
	.size-laptop{width:33.333%; float: left;}
	.mobile-search-bar{display:none;}
	.med-mat-mobile{background: #9ed05e;display: none;}
	#home-custom-size-mattress{height: 117px;}
	#home-custom-size-mattress a{top:53px;}
	#mattresshomeimgwrap{padding:0 12%;}
	#mattress-green-content {width:70%;}
}

@media (max-width:991px){
		#landing_nav-wrap div a.landing_nav{display:none;}
		#mm-right-contact{display: none; }
		.size-tablet{width:50%;float: left;}
		#desktop-navbar {display: none;}
		#responsive-menu-button{position:absolute; top:7px !important; left:0 !important}
		.med-logo{padding:13px 0px 0 25px;}
		#responsive-menu-title{color:#78be20 !important;}
		@-moz-document url-prefix() {#searchform #searchsubmit{top:5px;}}
		#home-custom-size-mattress{height: 11vw;}
		#home-custom-size-mattress a {top:0px; margin: 4.4vw 10px 0 0px; font-size: 2vw;}
		#body-container{width: 95%;}
		#mattress-green-content {width:100%;}
		#mattresshomeimgwrap{padding:0;}
}
@media (max-width:767px){
	#greenad-container{width:100%;}
	#mattresshomeimgwrap{display: none;}
}

@media (max-width:575px){
	#logo {width:100%;}
	.search-form {display: none;}
	.mobile-search-bar{display:inline-block;}
	.med-logo {padding: 0 0px 0 44px;}
	#benz-main-menu-wrap{display: none;}
	.med-mat-mobile{display:inline-block; width:100%; text-align: center;}
	#search-place{display: none;}
	.form-control{margin:0 0 0 5%; display: inline-block; width: 80%; margin-top: 0px;padding: 8px 15px !important;}
	#searchsubmit{margin:-5px 0 0 -37px;background-color: #ebebeb; border-color: #ebebeb;border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
	@-moz-document url-prefix() {input[type="submit"]{padding: 17px 20px !important;}}
  .magnifying-icon{pointer-events:none;color:#9ed05e;position:relative;left: -34px;}
}

@media (min-width:992px) {
#menu-item-3544 a,	#menu-item-1916 a, #menu-item-1917 a, #menu-item-1905 a, #menu-item-1918 a, #menu-item-1919 a { color: #000; font-size: 19px; font-weight: 600; padding: 12px 32.1px 10px;}

@-moz-document url-prefix() {#menu-item-3544 a, #menu-item-1916 a, #menu-item-1917 a, #menu-item-1905 a, #menu-item-1918 a, #menu-item-1919 a {padding-bottom:9px;} }

}

/* END */
